@import "../../styles/vars.scss";

.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mocker{
    height: 100%;
}
.loginPane{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoSet{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px;
}

.logo{
    width: 56px;

}
.logoType{
    font-weight: 700;
    margin: 16px;
    font-size: 24px;
    color: $primary;
}

.sidebar{
    flex: 2;
}
.content{
    flex: 8;
    padding: 24px;
    height: 100%;
}

.divider{
    width: 1px;
    background-color: rgba($color: #000000, $alpha: 0.2);
    height: 100%;
    
}