@import "../../styles/vars.scss";

.user{
    width: 40%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}
.statPane{
    display: flex;
    flex-direction: row;

}
.userPhoto{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #424242;
}
.fDiv{
    flex: 1;
}
.name{
    font-weight: 500;
}

.indicator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
}

.indicatorName{
    font-weight: 500;
}

.readInd{
    font-weight: 700;
    color: $primary;
}

.writeInd{
    font-weight: 700;
    color: $secondary;
}